<form class="form">
    <p class="title">Register</p>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>First Name</span>
        </label>
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Last Name</span>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="tel" placeholder="" required="">
            <span>Phone</span>
        </label>
        <label>
            <input class="input" type="date" placeholder="" required="">
            <span>Birth Date</span>
        </label>
    </div>
    <div class="field">
        <label>
            <select class="input" required="">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </label>
        <label>
            <select class="input" required="">
                <option value="">Marital Status</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
            </select>
        </label>
    </div>
    <div class="field">
        <label>
            <select class="input" required="">
                <option value="">Housing Type</option>
                <option value="apartment">Apartment</option>
                <option value="house">House</option>
                <option value="condo">Condo</option>
                <option value="other">Other</option>
            </select>
        </label>
        <label>
            <select class="input" required="">
                <option value="">Children Present</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </label>
        <label>
            <select class="input" required="">
                <option value="">Pets Present</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Available Hours</span>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Country</span>
        </label>
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>City</span>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Zone</span>
        </label>
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Address</span>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Neighborhood</span>
        </label>
    </div>
    <div class="field">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Username</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Password</span>
        </label>
    </div>
    <div class="field">
        <label>
            <select class="input" required="">
                <option value="">Select Role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </label>
    </div>
    <a class="submit" href="login">Submit</a>
</form>
