<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul>
          <li>
            <a href="mailto:info@petsadoption.org">infogmail.com.org</a>
          </li>
          <li><a href="tel:+1-555-1234">+1-555-1234</a></li>
          <li>
            Philadelphia headquarters:
            <a href="https://www.pspca.org/phillyadoptions"
              >https://www.pspca.org/phillyadoptions</a
            >
          </li>
          <li>
            Lancaster:
            <a href="mailto:lancaster@pspca.org">lancasterpspca.org</a>
          </li>
          <li>
            Danville: <a href="mailto:danville@pspca.org">danvillepspca.org</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Redes sociales</h5>
        <ul>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>&copy; 2024 Pets Adoption. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
