<div class="container-fluid p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="background-color: #f8f9fa;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://imgs.search.brave.com/Mt1n2LEp0jguEgG1UIfyWX1gp0raTuT9ux9dpMtyx7c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pY2hl/Zi5iYmNpLmNvLnVr/L2FjZS93cy82NDAv/Y3BzcHJvZHBiLzE0/RUMvcHJvZHVjdGlv/bi9fMTA5NzY1MzUw/X2dldHR5aW1hZ2Vz/LTEwNjUzMTQ2MzIu/anBn" class="d-block w-100" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <img src="https://imgs.search.brave.com/4bXuEdKYPQXSxqGdNFXumOuiB96BS2Ojb9-9f1E-fHY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90MS5l/YS5sdG1jZG4uY29t/L2VzL3Bvc3RzLzcv/MC80LzNfaW5pY2lh/cl9sYV9jb252aXZl/bmNpYV9kZXNkZV9s/YV9wcmltZXJhX2V0/YXBhX2RlX3ZpZGFf/NzQwN18yXzYwMC5q/cGc" class="d-block w-100" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <img src="https://imgs.search.brave.com/I-5BoDadzmeZxiodk2WCGx1xzJrVU_yHAFjKVDC9_0A/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9wcmltZXItcGxh/bm8tZ3J1cG8tZ2F0/by1wZXJyby1mcmVu/dGUtZm9uZG8tcm9z/YWRvLWFpZ3hfMzE5/NjUtMzI1NDIzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" class="d-block w-100" alt="Imagen 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let animal of animals">
        <div class="card">
          <img [src]="animal.image" class="card-img-top" alt="{{ animal.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ animal.name }}</h5>
            <p class="card-text">{{ animal.description }}</p>
            <p class="card-text"><small class="text-muted">{{ animal.age }} años, {{ animal.breed }}</small></p>
            <a href="/adoption" class="btn btn-primary">Adoptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  